
@font-face{
	font-family: 'FontAwesome';
	src: url('fontawesome-webfont.ttf')format('truetype'),
		 url('fontawesome-webfont')format('open-type'),
		 url('fontawesome-webfont.svg')format('svg'),
		 url('fontawesome-webfont.wof')format('woff'),
		 url('fontawesome-webfont.eot')format('eot');
}
@font-face{
	font-family: 'AnthoniSignature';
	src: url('AnthoniSignature.ttf')format('truetype');
}
@font-face{
	font-family:fontastique;
	src: url('fontastique.ttf')format('truetype');
}
@font-face{
	font-family: 'Northingtown';
	src: url('Northingtown Demo.ttf')format('truetype');
